body {
    background-color: #282C35;
    font-family: Arial, Helvetica, sans-serif;
    }

 h1{
   color: #ccc;
   text-align: center;
   top: 50;
    }

h3 {
    color: #ccc;    
    text-align: center;
    top: 50;
   }

ul {
   list-style-type: none;
   color: #ccc;
}

il {
   display: block;
}

a {
   text-decoration: none;
   color: #ccc
}

a:link {
   text-decoration: none;
   color: #ccc;
 }
 
a:visited {
   text-decoration: none;
   color: #ccc;
 }
 
a:hover {
   text-decoration: none;
   transition: 1s; 
   color: #555;
   cursor: pointer;
 }
 
a:active {
   text-decoration: none;   
   color: #ccc;
}

.BackButton {
   top: 50;
   position: absolute;
}