body {
    background-color: #282C35;
    font-family: Arial, Helvetica, sans-serif;
    }

 h1{
   color: #ccc;
   text-align: center;
   top: 50;
    }

h3 {
    color: #ccc;    
    text-align: center;
    top: 50;
   }

ul {
   display: inline-block;
   list-style-type: none;
   text-decoration: none;
   color: #ccc;
}

a:hover {
   color: #555;
   transition: 2s;
}