body {
    background-color: #282C35;
    font-family: Arial, Helvetica, sans-serif;
    }

 h1{
   color: #fff;
   text-align: center;
   top: 50;
    }

h3 {
    color: #fff;    
    text-align: center;
    top: 50;
   }

.al {
   color: #ccc;
   list-style-type: none;
   background-color: #282C35;
   display: block;
}

.al :hover {
   color: #333;
   transition: 2s;
}