body {
    background-color: #282C35;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    display: flex;
    top: 0;
}

a {
    text-decoration: none
}

a:link {
    color: #ccc;
  }
  
a:visited {
    color: #ccc;
  }
  
a:hover {
    transition: 2s; 
    color: #555;
  }
  
a:active {
    color: #ccc;
  }