body {
    background-color: #282C35;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    display: flex;
    top: 0;
}

a {
  display: block;
}

a:link {
    text-decoration: none;
    color: #ccc;
  }
  
a:visited {
    text-decoration: none;
    color: #ccc;
  }
  
a:hover {
    text-decoration: none;
    transition: 2s; 
    color: #555;
  }
  
a:active {
    text-decoration: none;   
    color: #ccc;
  }

.LtAP {
  left: 250px;
}