body {
    background-color: #282C35;
    font-family: Arial, Helvetica, sans-serif;
}

.TBar {
    display: flex;
    top: 0;
}

a {
  display: block;
  padding: 8px;
}

a:link { 
    text-decoration: none;
    color: #ccc;
  }
  
a:visited {
    text-decoration: none;
    color: #ccc;
  }
  
a:hover {
    text-decoration: none;
    transition: 2s; 
    color: #555;
  }
  
a:active {
    text-decoration: none;   
    color: #ccc;
}

.HPTitle {
  text-align: center;
  top: 50px;
  color: #ccc;
}

h2 {
  text-align: center;
  top: 50px;
  color: #ccc;
}

.TDList {
  text-align: center;
  color: #ccc;
  bottom: 0;
}
