body {
    background-color: #282C35;
    font-family: Arial, Helvetica, sans-serif;
}

.TBar {
    display: flex;
    top: 0;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:link { 
    text-decoration: none;
    color: #ccc;
  }
  
a:visited {
    text-decoration: none;
    color: #ccc;
  }
  
a:hover {
    text-decoration: none;
    transition: 2s; 
    color: #555;
    cursor: pointer;
  }
  
a:active {
    text-decoration: none;   
    color: #ccc;
}

.ALink {
  padding: 8px;
}

.MLink {
  padding: 8px;
}

.MiLink {
  padding: 8px;
}

.HPTitle {
  text-align: center;
  top: 50px;
  color: #ccc;
}

.TDList {
  text-align: center;
  color: #ccc;
  bottom: 0;
}

.AList {
  list-style-type: none;
  color: #ccc;
}

li {
  display: block;
  list-style-type: none;
}

.BBtn {
  top: 35px;
  left: 35px;
  position: absolute;
}

.BBtn a:hover {
  cursor: pointer;
}

i a:hover {
 cursor: pointer;
}


.S1 {
  float: left;
  display: block;
  width: 60%;
  height: 80%;
  text-align: center;
  color: #ccc;
}

.S1D {
  float: right;
  display: block;
  text-align: center;
  width: 20%;
  height: 80%;
  color: #ccc;
}

.S2 {
  float: right;
  display: block;
  text-align: center;
  width: 20%;
  height: 80%;
  color: #ccc;
}