body {
    background-color: #282C35;
    font-family: Arial, Helvetica, sans-serif;
}

.TBar {
    display: flex;
    top: 0;
}

.ALink {
  display: block;
  padding: 8px;
}

.MLink {
  display: block;
  padding: 8px;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:link { 
    text-decoration: none;
    color: #ccc;
  }
  
a:visited {
    text-decoration: none;
    color: #ccc;
  }
  
a:hover {
    text-decoration: none;
    transition: 2s; 
    color: #555;
  }
  
a:active {
    text-decoration: none;   
    color: #ccc;
}

.HPTitle {
  text-align: center;
  top: 50px;
  color: #ccc;
}

.TDList {
  text-align: center;
  color: #ccc;
  bottom: 0;
}

.AList {
  list-style-type: none;
  color: #ccc;
}

.BBtn {
  top: 35px;
  left: 35px;
  position: absolute;
}

.S1 {
  border: 1px #ccc;
  display: flex;
  justify-content: center;
  width: 60%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  color: #ccc;
}

.S1D {
  border: 1px;
  border-color: #ccc;
  display: flex;
  justify-content: center;
  width: 20%;
  height: 80%;
  color: #ccc;
}